/*========= Exec Page =========*/

/*for the pictures to be shifted to the left always*/
.float-left {
	float: left;
}

/*space between picture border and stuff aroun it*/
.exec-img {
	margin: 20px;
}


/*========= blog Page =========*/

.picture img {
	float:left;
	padding: 5px;
	width:20%;
}

/*========= Banner =========*/

/*Only applies when content is 800px all around*/
@media (min-width:800px) {
.key-bg {
	background-image: url("../imgs/fresh_water.jpg");
	background-attachment: fixed;
	background-size: 100%;
	background-position: center;
}
}

/*index page's banner*/
.big-logo {
	padding-top: 150px;
	padding-bottom: 100px;
}

/*small banners*/
.page-title {
	padding-top: 80px;
	padding-bottom: 50px;
}

/*========= Texts and Font styling =========*/
h1 {
	font-family: 'Arial', sans-serif;
	font-size: 64px;
}

@media (max-width:800px) {
h1 {
	font-family: 'Arial', sans-serif;
	font-size: 50px;
	color: #42C5BE;
}
}

.center {
	text-align: center;
}

.blogTitle {
	color: #00ff80;
}

/*========= All Pages =========*/

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px auto -142px; /* the bottom margin is the negative value of the footer's height */
}

body {
	background-color: black;
	margin-top: 0px;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}



/*========= Nav bar =========*/

nav a:hover {
	color: #00ff80;
}


/*makes the nav selections stay in place when not on curr page*/
nav li {
	border-top: 4px solid black;
}

/*color of bar on top of curr page of nav bar*/
.nav-select {
	color: #00ff80;
	border-top: 4px solid #00ff80;
}

/*style only applies curr page and color is for the text*/
#curpage > a {
	color: #00ff80;
}

.navbar {
	padding-bottom: 4px;
}


/*========= Footer =========*/

footer {
	border-top: 2px solid white;
	background-color: black;
}

footer .margins {
	margin-right: 160px;
	margin-left: 160px;
}

footer a {
	color: #42C5BE;
}

footer a:hover {
	color: #fff;
}

footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}